/*affects all the images in the file*/
img{
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5% 5% 5% 5%;
    justify-items: auto;
    box-shadow: 5px 5px 4px rgb(107, 105, 105);
}
/*affects all the images when you hover over them*/
img:hover{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 5% 5% 5% 5%;
    justify-items: auto;
    box-shadow: 6px 6px 2px rgb(107, 105, 105);
}
/*affects all the tables*/
table{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    align-items: center;
    text-align: center;
    border-spacing: 30px;
}

th{
    width: 250px;
    height: 180px;
    border: 1px solid black;
    border-radius: 5% 5% 5% 5%;
    justify-items: auto;
    box-shadow: 6px 6px 2px rgb(107, 105, 105);
    font-size: 100px;
}

#title th{
    width:auto;
    height: auto;
    border: none;
    border-radius: none;
    box-shadow: none;
}

#title{
    column-gap: 0%; 
    width: 50%; 
    align-items: center; 
    padding-left: 20%;
}

#categories:hover{
    width: 250px;
    height: 180px;
    border: 2px solid black;
    border-radius: 5% 5% 5% 5%;
    justify-items: auto;
    box-shadow: 5px 5px 4px rgb(107, 105, 105);
    box-shadow: 6px 6px 2px rgb(107, 105, 105);
    font-size: 100px;
}

h3{
    font-size: 30px;
}

.smalltitle{
    font-size: 30px;
    text-align: center; 
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.mediumtitle{
    font-size: 40px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.bigtitle{
    font-size: 50px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

body{
    background-image: url('pictures/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-shadow: 3px 1px 1px black;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

#navigation th{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}